<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nacho">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/mylogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".YourInnerLibraryActivity"
            android:theme="@style/SecondActivity" >
        </activity>

        <activity
            android:name=".SelectSongsActivity"
            android:theme="@style/AppTheme."></activity>
        <activity android:name=".CreatePlaylistActivity" />
        <activity
            android:name=".PlayerActivity"
            android:parentActivityName=".SongsActivity"
            android:launchMode="singleInstance"
            android:theme="@style/PlayerActivity" />
        <activity
            android:name=".SongsActivity"
            android:label="@string/title_activity_songs"
            android:theme="@style/SecondActivity" >


        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".MusicService"
            android:enabled="true" />

        <receiver android:name=".NotificationReceiver" />

    </application>

</manifest>